.btn {
	padding: 10px 15px;
	background: $primary;
	color: #fff;
	font-family: $font-family-base;
	border: none;
	font-weight: 300;
}

.btn-play {

	.icon-pause,
	.icon-play {
		padding-right: 10px;
	}
}