.m-footer {
  padding: calc($spacer/2) 0;
  font-size: $font-size-small;
}

.m-footer__wrapper {
  display: flex;
  justify-content: center;
  @include media-breakpoint-up(md) {
    justify-content: flex-end;
  }
}

.m-footer--fullpage {
  position: absolute;
  right: 0;
  bottom: 0;
}