.t-fullpage {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
}

.t-fullpage__inner {
  max-width: 500px;
  margin: 0 auto;
}

.t-content-wrapper {
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  min-height: 76vh;
}

.t-section {
  padding: $spacer 0;
  @include media-breakpoint-up(md) {
    &:nth-child(even) {
      text-align: right;
    }
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@include media-breakpoint-up(md) {
  .t-section {
    padding: $spacer*1.5 0;
  }
}