.t-page {
  padding-top: 200px;
}

.t-page__list-primary {
  list-style: none;
  font-size: 5rem;
  font-family: $font-family-durer;
  text-align: end;
  a {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.t-page__description {
  font-size: 2rem;
  text-align: left;
}

.t-page__list-secondary {
  list-style: none;
  padding: 0;
  font-size: 2rem;
  li {
    display: inline-block;
    margin-right: calc($spacer/2);
    &:before {
      content: '-';
      display: inline-block;
      margin-right: calc($spacer/2);
    }

    &:first-of-type {
      &:before{
        display: none;
      }
    }
  }
}