.t-page {
  padding-top: 50px;
  @include media-breakpoint-up(md) {
    padding-top: 200px;
  }
}

.t-page__cta,
.t-page__title,
.t-page__list,
.t-page__year {
  text-align: right;
}

.t-page__title {
  margin-bottom: 0;
}

.t-page__year {
  font-family: $font-family-durer;
  font-size: 1.3rem;
  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}

.t-page__list {
  font-size: 1.2rem;
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.t-page-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &--1 {
    background-image: url('../static/images/gradient-1.jpg');
    z-index: -10;
  }


  @include media-breakpoint-up(lg) {
    &--2 {
      background-image: url('../static/images/gradient-3.jpg');
      z-index: -9;
      background-repeat: repeat;
      mix-blend-mode: hard-light;
      animation: bgSlide linear 200s infinite;
    }
  }
}

@keyframes bgSlide {
  0% {
    background-position: 0px center;
  }

  100% {
    background-position: 2732px center;
  }
}

.t-page__cta-next {
  font-size: 1.3rem;
  transition: transform 250ms ease;

   &:hover,
   &:focus,
   &:active {
    text-decoration: none;
    transform: scale(1.2);
   }

   @include media-breakpoint-up(md) {
    font-size: 1.5rem;
   }
}
.t-page__cta-arrow {
  width: 40px;
  fill: #fff;
  margin-left: calc($spacer/2);
} 
.t-page__pagination {
  margin-top: $spacer;
}
@include media-breakpoint-up(md) {
  .t-page__rich-text {
    ul,
    ol,
    h1,
    h2,
    h3,
    h4,
    hr,
    blockquote,
    p {
      margin-left: 33.3333%;
      p {
        margin-left: 0;
      }
    }
  }
  
  .t-page__pagination {
    margin-left: 33.333%;
  }
}