.p-home__list-primary {
  list-style: none;
  font-size: 3rem;
  font-family: $font-family-durer;
  text-align: end;
  padding: 0;

  a {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 5rem;
  }
  @include media-breakpoint-down(md) {
    padding-top: 95vh;
  }
}

.p-home__description {
  text-align: left;
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}

.p-home__list-secondary {
  font-size: 1.5rem;
  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}

.p-home__cta {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

.p-home__h2 {
  margin-bottom: $spacer;
  font-size: 2.5rem;
  font-family: $font-family-durer;
}