.cursor {
  display: none;
}

@include media-breakpoint-up(lg) {
  body {
    cursor: none;
  }

  button,
  a {
    &:hover {
      cursor: none;
    }
  }
  .cursor {
    display: block;
    position: fixed;
    top: -7.5px;
    left: -7.5px;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 101;
    > div {
      border-radius: 100%;
      width: 15px;
      height: 15px;
      background-color: #fff;
      transition: all 250ms ease;
    }
  }
  
  .bg-clip {
    clip-path: url(#clip-circle);
  }
  
  #clip-cirlce ellipse,
  #clip-circle path,
  #clip-circle circle {
    transform-origin: center;
    pointer-events: none;
  }
  
  #clip-circle ellipse,
  #clip-circle circle {
    //  pulse 1s infinite alternate cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform-origin: center;
    // transform: scale(0);
    // transition: transform 500ms ease;
  }
}